# Example .gitignore file for your config dir.
# An * ensures that everything will be ignored.
*

# You can whitelist files/folders with !, these will not be ignored.
!*/
!*.yaml
!*.yml
!.gitignore
!*.md
!.gitkeep
!auth
!automations
!custom_components/**
!customizations
!deps
!entities
!glances
!influxdb
!integrations
!scenes
!scripts
!themes
!www

# Generic ignores
*.log
*.db
*.db-shm
*.db-wal
*.pyc
._*
__pycache__

# Ignore folders.
.storage
.cloud
.google.token
node-red

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml
